@font-face {
    font-family: "BwMitga-Bold";
    src: url("fonts/BwMitga-Bold.otf");
}

@font-face {
    font-family: "LasseÅberg_2020";
    src: url("fonts/LasseÅberg_2020..otf");
}

@font-face {
    font-family: "MinionPro-Regular";
    src: url("fonts/MinionPro-Regular.otf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("fonts/Poppins-Bold.ttf");
}


@font-face {
    font-family: "Poppins-Medium";
    src: url("fonts/Poppins-Medium.ttf");
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.container {
    max-width: 1380px;
    width: calc(100% - 30px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around !important;
    flex-direction: column;
    position: relative;
    padding: 45px;
    margin: 40px 0px;
}


.container--lightblue {
    background-color: #C2E5F4;
    width: calc(100% - 30px);
}

.container--white {
    background-color: #fff;
    width: calc(100% - 30px);
}

.mobile-bottom-right-image,
.mobile-bottom-left-image {
    display: none;
}

.container--darkblue {
    background-color: #0086ca;
    width: calc(100% - 30px);
}


.section {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-image: url("img/bg-page-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    position: relative;
}


.section__round {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round__title p {
    font-family: 'LasseÅberg_2020';
    font-size: 35px;
    color: #1a4974;
    text-align: center;
}

.section__titles {
    color: #1a4974;
    font-family: 'LasseÅberg_2020';
    font-size: 35px;
    text-align: center;
}

.section__titles .section__title {
    font-size: 45px;
    font-family: 'Poppins-Medium';
    line-height: 30px;

}

.text--white {
    color: #fff !important;
}

.section__titles .section__subtitle {
    font-family: "Poppins-Medium";
    margin-bottom: 45px;
    margin-top: 20px;
    font-weight: 300;
    max-width: 600px;
    font-size: 23px;
    line-height: 30px;
}


svg {
    font-size: 100px;
    margin-bottom: 0px;
}

.first__section--container {
    max-width: 900px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(15px);
    padding: 20px 20px;
}

.section__rounds {
    max-width: 800px !important;
    width: 100%;
}



/* MOBILE DESIGN - DISPLAY NONE */
.mobile {
    display: none;
}

.mobile-img {
    display: none;
}

.mobile__blue__rectangle {
    display: none;
}

.bottom-right-image--mobile {
    display: none;
}

.first__section__line-1,
.titta__line-1,
.rubrik__line-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(5px);
}

.first__section__line-1 .round1 {
    margin-left: 18%;
}

.first__section__line-1 .round2 {
    margin-right: 18%;
}


.first__section__line-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.first__section__line-3 {
    transform: translateY(-55px);

}

.end__sentence {
    color: #fff;
    font-family: 'Poppins-Medium';
    font-weight: 400;
    position: absolute;
    font-size: 13px;
    bottom: 1%;
}

.section__end__sentence {
    display: none !important;
}

.titta__line-2,
.rubrik__line-2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}


.round__image {
    height: 180px;
    width: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 50%;
    z-index: 2;
}

.first__section__line-1 .round-1__image {
    background-image: url("img/VOTO0026_Web_16x9_220520.png");
    border: 3px solid #fff
}

.first__section__line-1 .round-2__image {
    background-image: url("img/image-2.png");

}

.first__section__line-2 .round-1__image {
    background-image: url("img/image-3.png");
}

.first__section__line-2 .round-2__image {
    background-image: url("img/image-4.png");
}

.first__section__line-3 .round-1__image {
    background-image: url("img/image-5.png");
}

.rubrik__line-3 {
    background-image: url("img/diver+treasure.png");
    z-index: 999;
}


.section__rounds {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.titta__line-1 .round-1__image,
.titta__line-1 .round-2__image,
.titta__line-1 .round-3__image,
.titta__line-2 .round-1__image,
.titta__line-2 .round-2__image,
.rubrik__line-1 .round-1__image,
.rubrik__line-1 .round-2__image,
.rubrik__line-1 .round-3__image,
.rubrik__line-2 .round-1__image,
.rubrik__line-2 .round-2__image {
    background-image: url("img/man+fish.png");
}


.rubrik__line-2 .section__round:first-of-type,
.titta__line-2 .section__round:first-of-type {
    margin-left: 60px;
}

.rubrik__line-2 .section__round:last-of-type,
.titta__line-2 .section__round:last-of-type {
    margin-right: 60px;
}



.titta__line-3 .round__title p {
    font-size: 25px !important;
    font-family: 'LasseÅberg_2020';
}

.top-left-image,
.top-right-image,
.bottom-right-image,
.bottom-left-image,
.bottom-right-image-crab {
    z-index: 5;
    position: absolute;
}

.top-left-image {
    left: -10px;
    top: -40px;
    width: 120px;
}

.top-right-image {
    width: 60px;
    right: -22px;
    top: -26px;
}

.bottom-right-image {
    width: 140px;
    bottom: 20px;
    right: 30px;
}

.container--darkblue .bottom-right-image {
    width: 220px;
    bottom: 10px;
    right: 60px;
}

.bottom-right-image-crab {
    width: 120px;
    bottom: 50px;
    right: 50px;
}

.bottom-left-image {
    width: 230px;
    bottom: 40px;
    left: 50px;
}

.titta__line-3 {
    position: absolute;
    bottom: 40px;
    left: 120px;
}

.titta__line-3 .round-1__image {
    background-image: url("img/diver.png");
    width: 140px;
    height: 140px;
    background-size: cover;
    background-position: center;
    z-index: 2;
    border: 3px solid #fff;
    border-radius: 50%;
}

.section__round img {
    width: 40px;
}

.round-1__image,
.round-2__image,
.round-3__image {
    display: flex;
    justify-content: center;
}


/* section-4 */
.boken__white {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container--white .top-left-image {
    left: 10px;
    top: -60px;
}

.boken__white .boken__white__img {
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
    background-color: #00b4dc;
    margin-bottom: 30px;
    transform: rotate(-5deg);
    padding: 20px 0px;
    box-shadow: 00px 50px 59px #fff inset, 10px 10px 5px lightgray;
}

.boken__white__text,
.hitta__white__text {
    color: #1a4974;
    text-align: center;
}

.boken__white__text .boken__lysna,
.hitta__har,
.hitta__kop {
    font-family: 'Poppins-Bold';
    font-size: 20px;
}

.boken__white__text .boken__up {
    font-family: "Poppins-Medium";
    font-size: 15px;
}

.hitta__kop {
    margin-top: 40px;
}

.boken__white__text .boken_har {
    font-family: "MinionPro-Regular";
    font-size: 30px;
    margin-top: 20px;
}

.blue-arrow,
.white-arrow {
    width: 30px;
    position: absolute;

}

.blue-arrow {
    bottom: 9px;
}

.white-arrow {
    top: -15px;
}

.hitta__xxx {
    max-width: 600px;
    font-family: "Poppins-Medium";
    font-size: 20px;
    margin-top: 10px;
}

.hitta__valj {
    font-size: 10px;
    font-family: "Poppins-Medium";
    font-size: 16px;
    font-weight: 600;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}


.pyssla__white {
    border: 1px solid #1a4974;
    max-width: 900px;
    padding: 200px 0px;
    width: 100%;
    color: #1a4974;
}

.pyssla__phoswork {
    font-family: "Poppins-Medium";
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}


.container--white .section__subtitle {
    margin-bottom: 10px;
}

/* === Responsive ====  */

@media screen and (max-width: 1200px) {

    .round__title p {
        font-size: 30px;
    }

    .first__section__line-3 {
        transform: translateY(-80px);
    }

    .titta__line-3 .round__title p {
        font-size: 20px !important;
    }

    .titta__line-3 {
        position: absolute;
        bottom: 40px;
        left: 40px;
    }

    .top-right-image {
        width: 50px;
        right: -15px;
        top: -18px;
    }

    .top-left-image {
        width: 100px;
    }

    .container--darkblue .bottom-right-image {
        bottom: 10px;
        right: 20px;
    }

    .bottom-right-image-crab {
        bottom: 40px;
        right: 20px;
    }

}


@media screen and (max-width: 992px) {


    .round__image {
        height: 165px;
        width: 165px;
    }

    .container--darkblue .round__image,
    .container--lightblue .round__image {
        height: 180px;
        width: 180px;
    }


    .first__section--container {
        max-width: 800px !important;
    }

    .round__title p {
        font-size: 25px;
    }

    .first__section__line-3 {
        transform: translateY(-70px);
    }

    .first__section__line-1 .round-1__image {
        border: 1px solid #fff
    }

    .titta__line-3 .round-1__image,
    .titta__line-3 .round__title {
        display: none;

    }

    .bottom-right-image,
    .bottom-left-image {
        width: 140px;
        bottom: 40px;
    }

    .container--darkblue .bottom-right-image {
        bottom: 10px;
        right: 20px;
        width: 150px;
    }

    .bottom-right-image-crab {
        width: 80px;
        bottom: 40px;
        right: 20px;
    }

}


@media screen and (max-width: 768px) {

    .round__image {
        height: 125px;
        width: 125px;
    }

    .container--darkblue .round__image,
    .container--lightblue .round__image {
        height: 140px;
        width: 140px;
    }

    .round__title p {
        font-size: 21px;
    }

    .first__section--container {
        max-width: 600px !important;
        padding: 10px;
    }

    .first__section__line-3 {
        transform: translateY(-60px);
    }

    .end__sentence {
        font-size: 12px;
    }

    .section__titles .section__title {
        font-size: 30px;
    }

    .round__title p {
        font-size: 21px;
    }

    .section__titles .section__subtitle {
        font-size: 15px;
        max-width: 400px;
        margin-top: 10px;
        line-height: 20px;
    }

    .bottom-right-image {
        width: 80px;
        bottom: 30px;
        right: 20px;
    }


    .pyssla__white {
        max-width: 600px;
    }

    .pyssla__phoswork {
        font-size: 27px;
    }

}


@media screen and (max-width: 576px) {

    .section {
        padding: 0px;
    }

    .container {
        max-width: 400px !important;
        padding: 70px 10px 100px 10px;
        margin: 100px 0px;
        position: relative;
    }

    .first__section--container {
        max-width: 400px !important;
        transform: translateY(-130px);
        padding: 170px 10px;

    }

    .round__image {
        height: 115px;
        width: 115px;
    }

    .container--darkblue .round__image,
    .container--lightblue .round__image {
        height: 120px;
        width: 120px;
    }

    .mobile {
        display: flex;
        width: 100%;
    }

    .first__section__line-1 .section__round {
        display: none;
    }

    .first__section__line-1 {
        justify-content: center;
    }

    .first__section__line-1 .mobile {
        display: flex;

    }

    .first__section__line-1 .mobile .round-1__image {
        background-image: url("img/image-3.png");
    }

    .mobile .first__section__line-3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .first__section__line-3 .mobile .round-2__image {
        background-image: url("img/image-4.png");
    }


    .first__section__line-2,
    .first__section__line-3 {
        display: none;
    }

    .mobile .first__section__line-2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        transform: translateY(-30px);

    }

    .mobile .first__section__line-2 .section__round .round-1__image {
        background-image: url("img/VOTO0026_Web_16x9_220520.png");
        border: 1px solid #fff
    }

    .mobile .first__section__line-3 .section__round .round-1__image {
        background-image: url("img/image-5.png");
    }

    .mobile .first__section__line-3 .section__round .round-2__image {
        background-image: url("img/image-4.png");
    }

    .mobile .first__section__line-2 .section__round .round-2__image {
        background-image: url("img/image-2.png");
    }

    .mobile.first__section__line-1 .round-1__image {
        background-image: url("img/image-3.png");
    }

    .first__section__line-3 {
        transform: translateY(110px);
    }

    .first__section__end__sentence {
        position: absolute;
        bottom: -16% !important;
    }

    .end__sentence {
        font-size: 13px;
        width: 300px;
        text-align: center;
    }

    /* === TITA SECTION ==== */

    .titta__line-1,
    .rubrik__line-1 {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .titta__line-1 .section__round:last-of-type,
    .rubrik__line-1 .section__round:last-of-type {
        justify-content: center;
        width: 100%;
    }

    .titta__line-2 {
        margin-top: 20px;
    }

    .top-left-image {
        left: 10px;
        top: -20px;
        width: 80px;
    }

    .top-right-image {
        width: 40px;
        right: 15px;
        top: 15px;
    }

    .section__rounds {
        transform: translateY(20px);
    }

    .section__end__sentence {
        display: flex !important;
        justify-content: center;
    }

    .mobile__blue__rectangle {
        max-width: 400px;
        width: calc(100% - 30px);
        background-color: #0086Ca;
        padding: 10px 10px 30px 10px;
        transform: translateY(-95px);
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .mobile__blue__rectangle {
        color: #fff;
        font-family: 'Poppins-Medium';
        font-weight: 400;
    }

    .mobile__blue__rectangle img {
        width: 30px;
        position: absolute;
        top: 40px;
    }

    .container--lightblue .bottom-right-image {
        display: none;
    }

    .container--darkblue .bottom-right-image {
        bottom: 10px;
        right: 40px;
        width: 100px;
    }

    .bottom-right-image--mobile {
        display: unset;
        width: 65px;
        position: absolute;
        bottom: 0px;
        right: 40px;
    }

    .top-right-image--rubrik {
        filter: brightness(0) invert(1) !important;
    }

    .bottom-left-image {
        width: 110px;
        bottom: 10px;
        left: 20px;
    }

    .container--white .bottom-right-image {
        display: none;
    }

    .boken__white__text .boken_har {
        font-size: 20px;
        position: relative;
        top: 40px;
    }


    .hitta__xxx {
        font-size: 15px;
        max-width: 300px;
    }

    .hitta__har {
        font-size: 17px;
    }

    .hitta__valj {
        font-size: 15px;
        font-weight: 400;
    }

    .hitta__kop {
        font-size: 17px;
    }

    .pyssla__white {
        max-width: 320px;
        padding: 230px 0px;
        transform: translateY(40px);
    }

    .pyssla__phoswork {
        font-size: 28px;
        margin: 0 auto;
        max-width: 240px;
        text-align: justify;
    }

}