@font-face {
    font-family: "BwMitga-Bold";
    src: url("fonts/BwMitga-Bold.otf");
}

@font-face {
    font-family: "LasseÅberg_2020";
    src: url("fonts/LasseÅberg_2020..otf");
}

@font-face {
    font-family: "MinionPro-Regular";
    src: url("fonts/MinionPro-Regular.otf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("fonts/Poppins-Bold.ttf");
}


@font-face {
    font-family: "Poppins-Medium";
    src: url("fonts/Poppins-Medium.ttf");
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    max-height: 650px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around !important;
    flex-direction: column;
    position: relative;
}


.container--lightblue {
    background-color: #C2E5F4;
    width: 95%;
}

.mobile-bottom-right-image,
.mobile-bottom-left-image {
    display: none;
}

.container--darkblue {
    background-color: #0086ca;
    width: 95%;
}

.section {
    width: 100%;
    background-image: url("img/bg-page-1.png");
    height: 770px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}


.section__round {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.round__title p {
    font-family: 'LasseÅberg_2020';
    font-size: 35px;
    color: #1a4974;
}

.section__titles {
    color: #1a4974;
    font-family: 'LasseÅberg_2020';
    font-size: 35px;
    text-align: center;
}

.section__titles .section__title {
    font-size: 40px;
}

.text--white {
    color: #fff !important;

}

.section__titles .section__subtitle {
    font-family: 'Poppins-Medium';
    font-size: 20px;
}


svg {
    font-size: 100px;
    margin-bottom: 0px;
}


.section-1__line-1,
.section-2__line-1,
.section-3__line-1 {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.section-1__line-2 {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.section-2__line-2,
.section-3__line-2 {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}

.round__image {
    height: 170px;
    width: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 50%;
    z-index: 2;
}

.section-1__line-1 .round-1__image {
    background-image: url("img/VOTO0026_Web_16x9_220520.png");
    border: 3px solid #fff
}

.section-1__line-1 .round-2__image {
    background-image: url("img/image-2.png");

}

.section-1__line-2 .round-1__image {
    background-image: url("img/image-3.png");
}

.section-1__line-2 .round-2__image {
    background-image: url("img/image-4.png");
}

.section-1__line-3 .round-1__image {
    background-image: url("img/image-5.png");
}

.section-3__line-3 {
    background-image: url("img/diver+treasure.png");
    z-index: 999;
}


.section-1__sentence {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    transform: translateY(3px);
    font-family: 'BwMitga-Bold';
}


.section__rounds {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.section-2__line-1 .round-1__image,
.section-2__line-1 .round-2__image,
.section-2__line-1 .round-3__image,
.section-2__line-2 .round-1__image,
.section-2__line-2 .round-2__image,
.section-3__line-1 .round-1__image,
.section-3__line-1 .round-2__image,
.section-3__line-1 .round-3__image,
.section-3__line-2 .round-1__image,
.section-3__line-2 .round-2__image {
    background-image: url("img/man+fish.png");
}

.section-2__line-3 .round__title p {
    font-size: 25px !important;
    font-family: 'LasseÅberg_2020';
}

.top-left-image,
.top-right-image,
.bottom-right-image,
.bottom-left-image {
    z-index: 5;
    position: absolute;
}

.top-left-image {
    left: -10px;
    top: -40px;
    width: 120px;
}

.top-right-image {
    width: 60px;
    right: -10px;
    top: -18px;
}

.bottom-right-image {
    width: 140px;
    bottom: 70px;
    right: 50px;
}

.bottom-left-image {
    width: 230px;
    bottom: 70px;
    left: 50px;
}

.section-2__line-3 {
    position: absolute;
    bottom: 70px;
    left: 50px;
}

.section-2__line-3 .round-1__image {
    background-image: url("img/diver.png");
    width: 140px;
    height: 140px;
    background-size: cover;
    background-position: center;
    z-index: 2;
    border: 3px solid #fff;
    border-radius: 50%;
}

.section__round img {
    width: 40px;
}


.round-1__image,
.round-2__image,
.round-3__image {
    display: flex;
    justify-content: center;
}

/* === Responsive ====  */

@media screen and (max-width: 1200px) {


    .section {
        height: 710px;
    }

    .container {

        max-height: 600px;

    }

    .round__image {
        height: 150px;
        width: 150px;
    }

    .round__title p {
        font-size: 30px;

    }

    .section__titles .section__title {
        font-size: 38px;
    }

    .section-2__line-3 .round-1__image {
        width: 100px;
        height: 100px;

    }

    .section-2__line-3 .round__title p {
        font-size: 20px !important;
        ;
    }


    .section-2__line-3 {
        bottom: 50px;
        left: 2%;
    }


    .bottom-right-image,
    .bottom-left-image {
        width: 130px;
        right: 2%;
    }

}


@media screen and (max-width: 992px) {


    .container {
        max-height: 600px;
    }

    .round__image {
        height: 150px;
        width: 150px;
    }

    .round__title p {
        font-size: 30px;

    }

    .section__titles .section__title {
        font-size: 38px;
    }

    .section-2__line-3 .round-1__image,
    .section-2__line-3 .round__title {
        display: none;

    }

    .section-2__line-3 .round__title p {
        font-size: 20px !important;

    }

    .bottom-right-image,
    .bottom-left-image {
        width: 100px;
        bottom: 40px;
    }

    .section-1__line-1,
    .section-2__line-1,
    .section-3__line-1,
    .section-1__line-2,
    .section-2__line-2,
    .section-3__line-2 {
        width: 700px;
    }


}

@media screen and (max-width: 768px) {


    .container {
        max-height: 600px;
        max-width: 650px;
    }

    .round__image {
        height: 130px;
        width: 130px;
    }

    .round__title p {
        font-size: 21px;
    }

    .section__titles .section__subtitle {
        font-size: 15px;
        max-width: 400px;
    }

    .section-1__line-1,
    .section-2__line-1,
    .section-3__line-1,
    .section-1__line-2,
    .section-2__line-2,
    .section-3__line-2 {
        width: 570px;
    }

    .section__titles .section__title {
        font-size: 38px;
    }

    .section-2__line-3 .round__title p {
        font-size: 20px !important;

    }

    .bottom-right-image {
        width: 90px;
        bottom: 20px;
    }

    .bottom-left-image {
        width: 90px;
        /* left: 1%; */
        bottom: 20px;
    }

    .top-left-image {
        left: -10px;
        width: 100px;
    }

    .top-right-image {
        width: 50px;

    }

}

@media screen and (max-width: 576px) {

    .section-1__line-1,
    .section-2__line-1,
    .section-3__line-1,
    .section-1__line-2,
    .section-2__line-2,
    .section-3__line-2 {
        width: 400px;
    }


    .section-2__line-1,
    .section-3__line-1 {
        width: 300px !important;
        flex-wrap: wrap;

    }

    /* .section-1__line-1 {
        width: 200px !important;
        flex-wrap: wrap;

    } */

    .section-1__sentence {
        font-size: 15px;
        max-width: 200px;
        text-align: center;
    }

    .round__title p {
        font-size: 18px;
    }

    .bottom-right-image {
        width: 70px;
        bottom: 0px;
    }

    .bottom-left-image {
        width: 90px;
        /* left: 1%; */
        bottom: 20px;
    }

    .top-left-image {
        left: -10px;
        width: 100px;
    }

    .top-right-image {
        width: 50px;

    }

    .section-1__sentence {
        transform: translateY(40px);

    }


}

@media screen and (max-width: 375px) {

    .container {
        max-height: 600px;
        max-width: 300px;
    }

    .section-1__line-1,
    .section-2__line-1,
    .section-3__line-1,
    .section-1__line-2,
    .section-2__line-2,
    .section-3__line-2 {
        width: 300px;
    }

    .round__image {
        height: 100px;
        width: 100px;
    }
}